<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <meta charset="UTF-8" />

    <link rel="stylesheet" href='/static/lib/bootstrap/3.3.7/css/bootstrap.min.css"'/>
    <link rel="stylesheet" href='/static/lib/academy/css/academy.css"'/>

    <script src="/static/lib/jquery/3.2.1/js/jquery-3.2.1.min.js"></script>
    <script src="/static/lib/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<!--
######################################################################

  Fragment: playlist

  Description:
    Show a course playlist.

######################################################################
--><div th:fragment="playlist">
    <div class="lesson" th:each="l:${course.lessons}">
        <div th:text="${l.title}" class="lesson-title">Lesson</div>
        <ul>
            <a th:each="item:${l.segments}" th:attr="href='/classroom/' + ${course.id} + '/' + ${lesson.id} + '/' + ${item.id}">
                <li th:classappend="${item} == ${segment} ? active : ''">
                    <div class="ok"><i class="glyphicon glyphicon-ok" th:if="${item.attended}"></i></div>
                    <div class="rank"  th:text="${item.rank}"></div>
                    <div class="title" >
                        <span class="quiz-prefix" th:if="${item.type} == 'quiz'" th:text="#{label.quiz}">Quiz:</span>
                        <span th:text="${item.title}">Segment Title</span>
                    </div>
                    <div class="duration" th:text="${item.duration}">01:30</div>
                </li>
            </a>
        </ul>
    </div>
</div>

<!--
######################################################################

  Fragment: video

  Description:
    Show a video.
    This fragment expect the following javascript function:
        - moveToNextSegment()

######################################################################
-->
<div th:fragment="video">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 hidden-xs hidden-sm"></div>
            <div class="col-md-10">
                <div id="video-container" class="embed-responsive embed-responsive-16by9"></div>
            </div>
        </div>
        <div class="row toolbar">
            <a class="btn btn-default" th:text="#{button.next}" th:attr="href=${nextUrl}">Next</a>
        </div>
    </div>

    <script th:inline="javascript">
        function onVideoEnded(){
            moveToNextSegment();
        }

        $(document).ready(function(){
            var videoId = /*[[${segment.videoId}]]*/ '-video-id-';

            $('#video-container').load('/video/' + videoId);
        });
    </script>
</div>

<!--
######################################################################

  Fragment: quiz

  Description:
    Show a quiz.
    This fragment expect the following javascript function:
        - moveToNextSegment()

######################################################################
-->
<div th:fragment="quiz">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 hidden-xs hidden-sm"></div>
            <div class="col-md-10">
                <div id="quiz-container" class="embed-responsive embed-responsive-16by9"></div>
            </div>
        </div>

        <div class="row toolbar">
            <a class="btn btn-primary" th:text="#{button.submit_answer}" onclick="onQuizSubmit()">Submit Answer</a>
        </div>
    </div>

    <script th:inline="javascript">
        function onQuizEnded(){
            moveToNextSegment();
        }

        $(document).ready(function(){
            var quizId = /*[[${segment.quizId}]]*/ '-quiz-id-';

            $('#quiz-container').load('/quiz/' + quizId);
        });
    </script>
</div>

<!--
######################################################################

  Fragment: instructors

  Description:
    Show the list of instructors

######################################################################
-->
<div th:fragment="instructors">
    <div class="container-fluid" th:if="!${course.instructorRoleIds.empty}">
        <div class="row">
            <div id="instructor-container" > INSTRUCTORS </div>
        </div>
    </div>

    <script th:inline="javascript">
        $(document).ready(function(){
            var instructorIds = /*[[${course.instructorRoleIdCsv}]]*/ '-instructor-ids-';

            $('#instructor-container').load('/instructors/' + instructorIds);

        });
    </script>
</div>

</body>
</html>
