<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <meta charset="UTF-8" />

    <link rel="stylesheet" href='/static/lib/bootstrap/3.3.7/css/bootstrap.min.css"'/>
    <link rel="stylesheet" href='/static/lib/academy/css/academy.css"'/>

    <script src="/static/lib/jquery/3.2.1/js/jquery-3.2.1.min.js"></script>
    <script src="/static/lib/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div th:fragment="playlist">
    <div class="lesson" th:each="l:${course.lessons}">
        <div th:text="${l.title}" class="lesson-title">Lesson</div>
        <ul>
            <a th:each="item:${l.segments}" th:attr="href='/classroom/' + ${course.id} + '/' + ${lesson.id} + '/' + ${item.id}">
                <li th:classappend="${item} == ${segment} ? active : ''">
                    <div class="ok"><i class="glyphicon glyphicon-ok" th:if="${item.attended}"></i></div>
                    <div class="rank"  th:text="${item.rank}"></div>
                    <div class="title" >
                        <span class="quiz-prefix" th:if="${item.type} == 'quiz'" th:text="#{label.quiz}">Quiz:</span>
                        <span th:text="${item.title}">Segment Title</span>
                    </div>
                    <div class="duration" th:text="${item.durationFormatted}">01:30</div>
                </li>
            </a>
        </ul>
    </div>
</div>

<div th:fragment="text">
    <h2 class="title" th:text="${segment.title}">Segment Title</h2>
    <div class="markdown" th:utext="${segment.description}">Description here...</div>
    <div class="toolbar">
        <a class="btn btn-primary" th:attr="href=${nextUrl}" th:text="#{button.continue}">...</a>
    </div>
</div>



<div class="embed-responsive embed-responsive-16by9" th:fragment="video">
    <div id="video-player" class="embed-responsive-item"></div>

    <script src="https://www.youtube.com/iframe_api"></script>
    <script th:inline="javascript">
        //<![CDATA[

        var player;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player( 'video-player', {
                width: 750,
                height: 500,
                videoId: /*[[${video.videoId}]]*/ 'ID',
                events: {
                    'onReady': function(event){
                        event.target.playVideo();
                    },
                    'onStateChange': function(event){
                        console.log('onStateChange', event);
                        var quiz = /*[[${quiz} ? true : false]]*/ false;
                        var nextUrl = /*[[${nextUrl}]]*/ 'value';
                        if (nextUrl && event.data == YT.PlayerState.ENDED) {
                            if (quiz) {
                                quiz_show();
                            } else {
                                location.href = nextUrl;
                            }
                        }
                    }
                }
            });
        }
        //]]>
    </script>
</div>

<div class="embed-responsive embed-responsive-16by9" th:fragment="quiz">
    <!-- Quiz -->
    <form id="quizform">
        <div class="embed-responsive-item quiz">
            <h3 class="question" th:text="${quiz.question}">Quiz Question</h3>
            <div class="markdown description" th:utext="${quiz.description}" th:if="${quiz.description}">Quiz Description</div>
            <div class="answers" th:replace="fragments/quiz :: ${quiz.type}">
                ANSWERS
            </div>
        </div>
    </form>

    <!-- Success -->
    <div class="modal fade" id="modal_success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" th:text="#{modal.quiz.success.title}"></h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-primary" th:text="#{button.continue}" th:attr="href=${nextUrl}"></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Failure -->
    <div class="modal fade" id="modal_failure" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" th:text="#{modal.quiz.failure.title}"></h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" th:text="#{button.try_again}"></button>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        function quiz_submit() {
            $.ajax({
                type: 'POST',
                url: /*[['/classroom/' + ${course.id} + '/' + ${lesson.id} + '/' + ${segment.id} + '/quiz/answer']]*/ 'url',
                data: $('#quizform').serialize(),
                datatype: 'json',
                success: function (data){
                    console.log('result', data);
                    if (data.valid){
                        $('#modal_success .modal-body').text(data.message);
                        $('#modal_success').modal();
                    } else {
                        $('#modal_failure .modal-body').text(data.message);
                        $('#modal_failure').modal();
                    }
                }
            });
        }

        //<![CDATA[
        function quiz_show() {
            $('.video-area').fadeOut('slow', function(){
                $('.quiz-area').fadeIn();
            });
        }
        //]]>
    </script>
</div>

</body>
</html>
