<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <meta charset="UTF-8" />

    <link rel="stylesheet" href='/static/lib/bootstrap/3.3.7/css/bootstrap.min.css"'/>
    <link rel="stylesheet" href='/static/lib/academy/css/academy.css"'/>

    <script src="/static/lib/jquery/3.2.1/js/jquery-3.2.1.min.js"></script>
    <script src="/static/lib/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div th:fragment="playlist">
    <div class="lesson" th:each="l:${course.lessons}">
        <div th:text="${l.title}" class="lesson-title">Lesson</div>
        <ul>
            <a th:each="item:${l.segments}" th:attr="href='/classroom/' + ${course.id} + '/' + ${lesson.id} + '/' + ${item.id}">
                <li th:classappend="${item} == ${segment} ? active : ''">
                    <div class="ok"><i class="glyphicon glyphicon-ok" th:if="${item.attended}"></i></div>
                    <div class="rank"  th:text="${item.rank}"></div>
                    <div class="title" >
                        <span class="quiz-prefix" th:if="${item.type} == 'quiz'" th:text="#{label.quiz}">Quiz:</span>
                        <span th:text="${item.title}">Segment Title</span>
                    </div>
                    <div class="duration" th:text="${item.duration}">01:30</div>
                </li>
            </a>
        </ul>
    </div>
</div>


</body>
</html>
