<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${course.title}">Title</title>
    <meta name="og:title" th:attr="content=${course.title}"/>
    <meta name="og:description" th:attr="content=${course.summary}"/>

    <div th:replace="fragments/layout :: head"></div>
</head>
<body>

<nav class="navbar navbar-default" th:replace="fragments/layout :: topnav">
    NAVIGATION
</nav>

<div class="container">
    <div class="meta">
        <div class="title-row">
            <h1>
                <span class="quiz-prefix" th:if="${quiz}" th:text="#{label.quiz}">Quiz</span>
                <span th:text="${segment.title}">Segment Title</span>
            </h1>
        </div>
        <div class="meta-row">
            <h2 th:text="${course.title}">Course Title</h2>
        </div>
    </div>
    <div class="course">

        <div class="video-area" th:if="${segment.type} == 'video'">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1 hidden-xs hidden-sm"></div>
                    <div class="col-md-10">
                        <div id="video-container" class="embed-responsive embed-responsive-16by9"></div>
                    </div>
                </div>
                <div class="row toolbar">
                    <a class="btn btn-default" th:text="#{button.next}" th:attr="href=${nextUrl}">Next</a>
                </div>
            </div>

            <script th:inline="javascript">
                function onVideoEnded(){
                    moveToNextSegment();
                }

                $(document).ready(function(){
                    var videoId = /*[[${segment.videoId}]]*/ '-video-id-';

                    $('#video-container').load('/video/' + videoId);
                });
            </script>
        </div>

        <div class="quiz-area" th:if="${segment.type} == 'quiz'">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1 hidden-xs hidden-sm"></div>
                    <div class="col-md-10">
                        <div id="quiz-container" class="embed-responsive embed-responsive-16by9"></div>
                    </div>
                </div>

                <div class="row toolbar">
                    <a class="btn btn-primary" th:text="#{button.submit_answer}" onclick="onQuizSubmit()">Submit Answer</a>
                    <a class="btn btn-default" th:text="#{button.skip_quiz}" th:attr="href=${nextUrl}">Skip Quiz</a>
                </div>
            </div>

            <script th:inline="javascript">
                function onQuizEnded(){
                    moveToNextSegment();
                }

                $(document).ready(function(){
                    var quizId = /*[[${segment.quizId}]]*/ '-quiz-id-';

                    $('#quiz-container').load('/quiz/' + quizId);
                });
            </script>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="playlist col-md-4 hidden-xs hidden-sm">
                    <div th:replace="fragments/classroom :: playlist">Playlist</div>
                </div>

                <div class="col-md-8 course-details">

                    <ul class="nav nav-pills">
                        <li class="active"><a data-toggle="pill" href="#overview" th:text="#{label.overview}">Overview</a></li>
                        <li><a data-toggle="pill" href="#resources" th:text="#{label.resources}">Resources</a></li>
                        <li><a data-toggle="pill" href="#about" th:text="#{label.about}">About</a></li>
                        <li><a data-toggle="pill" href="#instructor" th:text="#{label.instructor}">Instructor</a></li>
                    </ul>

                    <div class="tab-content">

                        <div id="overview" class="tab-pane fade in active">
                            <div class="container-fluid">
                                <div class="markdown" th:utext="${segment.description}">Segment Description</div>
                            </div>
                        </div>

                        <div id="about" class="tab-pane fade in">
                            <div class="container-fluid">
                                <div class="meta">
                                    <span class="duration" th:text="${course.duration}">1h30</span>
                                    -
                                    <span class="level" th:text="#{'level.' + ${course.level}}">Debutant</span>
                                    -
                                    <span class="published-date" th:text="${#calendars.format(course.updatedDateTime,'dd MMMM yyyy')}">12 May 2014</span>
                                </div>
                                <div class="markdown" th:utext="${course.description}">Course Description</div>
                            </div>
                        </div>

                        <div id="instructor" class="tab-pane fade">
                            <div class="instructor">
                                <img th:attr="src=${course.instructor.pictureUrl}" />
                                <div>
                                    <h4 th:text="${course.instructor.displayName}">Ray Sponsible</h4>
                                    <h6 th:text="${course.instructor.title}">Software Developer</h6>
                                    <div class="links">
                                        <a target="_new" th:attr="href=${course.instructor.websiteUrl}" th:text="#{label.website}">Website</a>
                                        |
                                        <a href="#" th:text="#{label.all_courses}">See All Courses</a>
                                    </div>
                                    <div class="biography" th:text="${course.instructor.biography}">Biography</div>
                                </div>
                            </div>
                        </div>

                        <div id="resources" class="tab-pane fade">
                            <div class="markdown" th:utext="${segment.description}">Segment Description</div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script th:inline="javascript">
    function moveToNextSegment(){
        var nextUrl = /*[[${nextUrl}]]*/ '-next-url-';

        location.href = nextUrl;
    }
</script>

</body>
</html>
