<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <meta charset="UTF-8" />
    <title th:text="${course.title}">Title</title>
    <meta name="og:title" th:attr="content=${course.title}"/>
    <meta name="og:description" th:attr="content=${course.summary}"/>

    <div th:replace="fragments/layout :: head"></div>
</head>
<body>

    <nav class="navbar navbar-default" th:replace="fragments/layout :: topnav">
        NAVIGATION
    </nav>

    <div class="container">
        <h1 th:text="${course.title}">Title</h1>

        <div class="jumbotron">
            <h2 th:text="#{page.done.title}">Congratulation!</h2>
            <p th:text="#{page.done.text}">You have completed the course</p>
        </div>

    </div>

</body>
</html>
